:root {
    --header-color: #42a5f5;
    --header-color-light: #80d6ff;
    --background-color: #90a4ae;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Encode Sans', sans-serif;
    background-color: var(--background-color);
}

input[type=button] {

}

input[type=text] {
    font-family: inherit;
    border: none;
    box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.5) inset;
    padding: 0.35em;
    margin-bottom: 1px;
}

input[type=text]:focus {
    box-shadow: none;
}

.ribbon {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    align-items: stretch;
}

.ribbonSpacer {
    display: flex;
    align-items: stretch;
    width: 15vw;
}

.ribbonButton {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ribbonButton:hover {
    background-color: var(--header-color-light);
}

.mpHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--header-color);
    color: white;
    height: 5em;
    z-index: 10000;
    box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.5);
}

.mpSidePadding {
    display: flex;
    background-color: transparent;
    width: 15vw;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    z-index: 100;
}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: column;
    }
    .innerContent {
        box-shadow: 0em -0.25em 0.25em 0em rgba(0, 0, 0, 0.5);
    }
    .mpSidePadding {
        min-height: 5em;
        max-height: 5em;
        width: unset;
    }  
    .ribbonSpacer {
        width: 0;
    }
}

.innerContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: transparent;
    z-index: 0;
    max-width: 98vw;
}

.mpFooterContainer {
    display: flex;
    height: 3em;
    background-color: #42a5f5;
    color: white;
}

.mpContentContainer {
    background-color: white;
    display: flex;
    align-items: stretch;
    padding: 1em;
    box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.5);
    margin-top: 1em;
}

.mpContentContainer:hover {
    background-color: #eeeeee;
    box-shadow: 0em 0.25em 0.75em rgba(0, 0, 0, 0.5);
}

.mpExerciseTitle, .mpExerciseTitleSelected, .mpExerciseTitleDone {
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(66, 165, 245, 0.4);
    width: 100%;
    height: 2em;
    color: #242424;
    line-height: 2em;
    transition-duration: 0.2s;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.mpExerciseTitle:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid #2e709b;
    width: 90%;
    padding-left: 10%;
    transition-duration: 0.2s;
    background-color: rgba(147, 37, 37, 0.30);
}

.mpExerciseTitleSelected {
    width: 90%;
    padding-left: 10%;
    color: white;
    background-color: #932525;
}

.mpExerciseTitleDone {
    color: #888;
    cursor: default;
    text-decoration: line-through;
}

.mpExerciseSet, .mpExerciseSetSelected, .mpExerciseSetDone {
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(66, 165, 245, 0.4);
    width: 100%;
    height: 2em;
    line-height: 2em;
    color: #242424;
    transition-duration: 0.2s;
    overflow: hidden;
    cursor: default;
}

.mpExerciseSetSelected {
    background-color: #932525;
    color: #fff;
    cursor: pointer;
}

.mpExerciseSetDone {
    color: #888;
    text-decoration: line-through;
}

.mpExerciseButton {
    background-color: #6af;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    user-select: none;
    outline: 0 solid #fff;
    transition-duration: 0.1s;
    margin-left: 2px;
    margin-right: 2px;
}

.mpExerciseButton:hover {
    background-color: #7cf;
    outline: 3px solid rgba(66, 165, 245, 0.8);
    transition-duration: 0.1s;
}

.mpExerciseButton:active {
    background-color: #fcc;
    outline: 3px solid rgba(91, 0, 0, 0.84);
    transition-duration: 0.1s;
}