:root {
    --header-color: #42a5f5;
    --header-color-light: #80d6ff;
    --background-color: #90a4ae;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Encode Sans', sans-serif;
    background-color: var(--background-color);
}

input[type=button] {

}

input[type=text] {
    font-family: inherit;
    border: none;
    box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.5) inset;
    padding: 0.35em;
    margin-bottom: 1px;
}

input[type=text]:focus {
    box-shadow: none;
}

.ribbon {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    align-items: stretch;
}

.ribbonSpacer {
    display: flex;
    align-items: stretch;
    width: 15vw;
}

.ribbonButton {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ribbonButton:hover {
    background-color: var(--header-color-light);
}

.mpHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--header-color);
    color: white;
    height: 5em;
    z-index: 10000;
    box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.5);
}

.mpSidePadding {
    display: flex;
    background-color: transparent;
    width: 15vw;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    z-index: 100;
}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: column;
    }
    .innerContent {
        box-shadow: 0em -0.25em 0.25em 0em rgba(0, 0, 0, 0.5);
    }
    .mpSidePadding {
        min-height: 5em;
        max-height: 5em;
        width: unset;
    }  
    .ribbonSpacer {
        width: 0;
    }
}

.innerContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: transparent;
    z-index: 0;
}

.mpFooterContainer {
    display: flex;
    height: 3em;
    background-color: #42a5f5;
    color: white;
}

.mpContentContainer {
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding: 1em;
    box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.5);
    margin-top: 1em;
}

.mpContentContainer:hover {
    background-color: #eeeeee;
    box-shadow: 0em 0.25em 0.75em rgba(0, 0, 0, 0.5);
}